<div class="ui container relaxed">
<h1>In Your Cart</h1>

<div class="ui card">
    <div class="card menu-padding">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
        <div class="header">
          Elliot Fu
        </div>
        <div class="meta">
            Price $
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui  red button">x Remove</div>
        </div>
      </div>
    </div>
    <div class="card menu-padding">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
        <div class="header">
          Jenny Hess
        </div>
        <div class="meta">
          Price $
        </div>
        <div class="description">
          Jenny wants to add you to the group <b>best friends</b>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui red button">x Remove</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui left action input">
    
    <div class="ui">
        <div class="ui left floated header">Sub-Total</div>
        <div class="ui left floated header">Tax</div>
    </div>
    
    <button class="ui teal labeled icon button">
      <i class="cart icon"> </i>
      Checkout
    </button>
    <a class="menu-padding bold-text">$52.03</a>
  </div>

</div>

