
<div class="ui simple equal width grid container stackable">
    <div class="ui large breadcrumb disappear">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Footwear</a>
        <div class="divider"> / </div>
        <a class="section">Kids Footwear</a>
    </div>
    

    <div class="row">
      <div class="column">
        
          <div class="ui large form">
            <div class="grouped fields">
              
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="example2">
                  <label>Men</label>
                </div>
              </div><!--end of field-->
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="example2" >
                  <label>Women</label>
                </div>
              </div><!--end of field-->
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="example2"  checked="checked">
                  <label>Kids</label>
                </div>
              </div><!--end of field-->
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="example2">
                  <label>Home & Living</label>
                </div>
              </div><!--end of field-->

            </div><!--end of grouped fields-->
          </div> <!-- end of ui form-->
      
      
          <div class="ui centered fitted divider"></div>        
        
      
        <div class="ui form">
            
            <div class="grouped fields">
              <label>Categories</label>
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Casual Shoes</label>
                </div>
              </div><!-- end of field-->
             
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Flats</label>
                </div>
              </div><!-- end of field-->
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="example2">
                  <label>Sports Shoes</label>
                </div>
              </div><!-- end of field-->
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Formal Shoes</label>
                </div>
              </div><!-- end of field-->
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Sandals</label>
                </div>
              </div><!-- end of field-->
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Flip Flops</label>
                </div>
              </div> <!-- end of field-->
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="example2">
                  <label>Sports Sandals</label>
                </div>
              </div><!-- end of field-->

            </div> <!-- end of grouped fields-->
          </div> <!-- end of ui form-->
      </div>

      <div class="thirteen wide column relaxed stackable">
        <div class="ui large vertical segment bold-text">
          <!--<img class="ui image" src="/images/wireframe/image.png">-->
          Shoes & Footwear -
          <span class="meta normal-text">50,000+ items</span>

          <div class="ui simple dropdown right floated normal-text menu middle menu-padding">
            Sort By     :
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">What's New</div>
              <div class="item">Popular</div>
              <div class="item">Price: Low - High</div>
              <div class="item">Price: High - Low</div>
            </div>
          </div>
          <div>
          <a class="meta normal-text">Bundles <i class="dropdown icon"></i></a>
          
          <a class="meta normal-text">Offers  <i class="dropdown icon"></i></a>
          </div>
        
        
        </div>
        <div class="ui vertical segment stackable">
          <div class="ui simple four wide column ">

            <div class="ui four cards stackable">
              <div class="card">
                <div class="content">
                  <img class="right floated ui image" src="/assets/images/kids-shoe1.jpg">
                  <div class="header">
                    Shoe 1
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 1
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    
                    <!--<mat-form-field>
                      <mat-label>Message</mat-label>
                      <input matInput value="Disco party!" #message>
                    </mat-form-field>
                    
                    <mat-form-field>
                      <mat-label>Action</mat-label>
                      <input matInput value="Dance" #action>
                    </mat-form-field>-->
                    
                   <!-- <button mat-stroked-button (click)="SnackBar.open('Item added to cart', 'Dismiss')">Show snack-bar</button>-->

                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated  ui image" src="/assets/images/kids-shoe2.jpg">
                  <div class="header">
                    Shoe 2
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 2
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="content">
                  <img class="right floated ui image" src="/assets/images/kids-shoe3.jpg">
                  <div class="header">
                    Shoe 3
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 3
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated ui image" src="/assets/images/kids-shoe4.jpg">
                  <div class="header">
                    Show 4
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 4
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="content">
                  <img class="right floated  ui image" src="/assets/images/kids-shoe5.jpg">
                  <div class="header">
                    Shoe 5
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 5
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated  ui image" src="/assets/images/kids-shoe6.jpg">
                  <div class="header">
                    Shoe 6
                  </div>
                  <div class="meta">
                    Price $                  </div>
                  <div class="description">
                    description of shoe 6
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="content">
                  <img class="right floated  ui image" src="/assets/images/kids-shoe7.jpg">
                  <div class="header">
                    Shoe 7
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 7
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <img class="right floated  ui image" src="/assets/images/kids-shoe8.jpg">
                  <div class="header">
                    Show 8
                  </div>
                  <div class="meta">
                    Price $
                  </div>
                  <div class="description">
                    description of shoe 8
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui simple two buttons">
                    <button class="ui green button">+ to Cart</button>
                    <!--<button class="ui blue button">+ Wish List</button>-->
                  </div>
                </div>
              </div>


            </div> <!-- end f four card stack-->
          </div>
      </div> <!-- end of ui verticl segment -->

      </div><!-- end of thirteen column wide relaxed-->

      
    
    </div>
  
  </div>