<div class="ui  container">
<h1>Learn Something New</h1>

<div class="ui four cards stackable">
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
      <div class="header">
        Site 1
      </div>
      <div class="meta">
         <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 1
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
      <div class="header">
        Site 2
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 2
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
      <div class="header">
        Site 3
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 3
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
      <div class="header">
        Site 4
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 4
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
      <div class="header">
        Site 5
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 5
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
      <div class="header">
        Site 6
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 6
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
      <div class="header">
        Site 7
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 7
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
      <div class="header">
        Site 8
      </div>
      <div class="meta">
        <i class="heart icon"></i> 100k Followers
      </div>
      <div class="description">
        description of site 8
      </div>
    </div>
    <div class="extra content">
      <div class="ui simple two buttons">
        <button class="ui button">Visit</button>
      </div>
    </div>
  </div>


</div> <!-- end f four card stack-->
</div> <!-- end of main container -->